{% extends 'base/main.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<table style="width:100%" class="list_table" id="list_table">
    <tr>
        <th>საკლასო ოთახი</th>
        <th>სახელი</th>
        <th>თარიღი</th>
        <th>დაწყება</th>
        <th>დასწულება</th>
        <th>აღწერა</th>
    </tr>
    <tr>
        <td>
            <a href="{% url 'app_student:classroom-detail' uuid=lesson.classroom.uuid %}" style="background-color: aqua;">
                {{ lesson.classroom.name }}
            </a>
        </td>
        <td>{{ lesson.name }}</td>
        <td>{{ lesson.lesson_date }}</td>
        <td>{{ lesson.lesson_start_time }}</td>
        <td>{{ lesson.lesson_end_time }}</td>
        <td>{{ lesson.description }}</td>
    </tr>
</table>

<br>

<table style="width:100%" class="list_table" id="list_table">
    <tr>
        <th>დავალებები</th>
    </tr>
    <tr>
        <th>სახელი</th>
        <th>ქულა</th>
        <th>დავალების შესრულება/დათვალიერება</th>
    </tr>
    {% for test in tests %}
        <tr>
            <td>{{test.name}}</td>
            {% if test.taken %}
                    <td>
                        {{ test.total_points }} / {{ test.max_points }}
                    </td>
                    <td style="background-color: aqua;">
                        <a href="{% url 'app_student:test-view' test_uuid=test.uuid %}">
                            დათვალიერება
                        </a>
                    </td>
            {% else %}
                <td> - </td>
                <td>
                    <a href="{% url 'app_student:test-page' test_uuid=test.uuid %}" style="background-color: aqua;">
                        დავალების შესრულება
                    </a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

{% endblock %}