{% extends 'base/main.html' %} {% load i18n %} {% load static %} {% block content %}

<style>
	textarea {
        resize: none;
    }
</style>

<div class="container-fluid py-4">
	<div class="card mb-4">
		<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
			<div
				class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
			>
				<h6 class="text-white text-capitalize ps-3">
					<span style="opacity: 0.5"
						><a href="{% url 'app_student:classrooms' %}" class="text-white"
							>კლასები</a
						>
						/
						<a
							href="{% url 'app_student:classroom-detail' uuid=test.lesson.classroom.uuid %}"
							class="text-white"
						>
							{{ test.lesson.classroom.name }}
						</a>
						/
						<a
							href="{% url 'app_student:lesson-detail' lesson_uuid=test.lesson.uuid %}"
							class="text-white"
						>
							{{ test.lesson.name }}
						</a>
						/
					</span>
					{{ test.name }}
				</h6>
			</div>
		</div>
		<div class="card-body pt-4 p-3">
			{% if error %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endif %}
			<form
				role="form"
				class="text-start"
				action="{% url 'app_student:test-submit' student_test_uuid=student_test.uuid %}"
				method="POST"
			>
				{% csrf_token %}

				<ul class="list-group">
					{% for student_question in student_questions %}
					<li
						class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg"
					>
						<div class="col">
							{% for key, value in error_messages.items %}
								{% if value and key == student_question.pk %}
									<p class="text-danger">{{ value }}</p>
								{% endif %}
							{% endfor %}
							<div class="mb-3 d-flex">
                                <div class="mt-2" style="margin-right: 5px;">
								<strong
									style="
										padding: 10px;
										color: white;
										background-color: #d81b60;
										border-radius: 7px;
										margin-right: 5px;
									"
									>{{ forloop.counter }}. </strong
								>
                                </div>
                                <p> {{ student_question.question.question.text }} </p>
							</div>

							{% for choice in student_question.question.question.questionchoice_set.all %}
							<div class="form-check">
								<input
									type="radio"
									class="form-check-input"
									name="chosen_choices_{{ student_question.question.pk }}"
									id="chosen_choices_{{ student_question.order|add:"1" }}"
									value="{{ choice.pk }}"
									{% if choice.pk|stringformat:"s" in selected_choice_ids %} checked {% endif %}
								/>
								<label class="custom-control-label"
									>{{ choice.text }}</label
								>
							</div>
							{% endfor %}

							{% if test.text_input_required %}
								<label class="custom-control-label"
									>მიღებული პასუხის გზის ახსნა:</label
								>
								<div>
									{% if text_explanations_list %}
										{% for qid, text in text_explanations_list %}
											{% if qid == student_question.question.pk %}
												<textarea id="chosen_choice_explanation_{{ student_question.question.pk }}" 
														name="chosen_choice_explanation_{{ student_question.question.pk }}" 
														rows="5" style="width: 100%;">{{ text }}</textarea>	
											{% endif %}
										{% endfor %}
									{% else %}
										<textarea id="chosen_choice_explanation_{{ student_question.question.pk }}" 
												name="chosen_choice_explanation_{{ student_question.question.pk }}" 
												rows="5" style="width: 100%;"></textarea>
									{% endif %}
								</div>
							{% endif %}
						</div>
					</li>
					{% endfor %}
				</ul>

				<div class="text-center">
					<input
						type="submit"
						class="btn bg-gradient-success w-100 my-4 mb-2"
						value="დასრულება"
					/>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
