{% extends 'base/main.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="card" style="width: fit-content;">
    <div class="card-body">
        დავალების <b>"{{topic.name}}"</b> დამატება კლასის <b>"{{classroom.name}}"</b> გაკვეთილში <b>"{{lesson.name}}"</b>
        {% if deadline_form %}
            <div style="margin-bottom: 2rem;">
                {% if deadline_form.deadline.errors|length > 0 %}
                sss
                    <ul class="errorlist">
                        {% for error in deadline_form.deadline.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <form role="form" class="text-start" method="post" action="{% url 'app_teacher:add-test-confirmation' classroom_uuid=classroom.uuid lesson_uuid=lesson.uuid topic_uuid=topic.uuid %}">
                {% csrf_token %}
                {{ deadline_form }}
                <div class="text-center">
                    <input type="submit" class="btn bg-gradient-primary w-20 my-4 mb-2" style="float: left;" value="დამატება">
                </div>
            </form>
        {% endif %}
    </div>
</div>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    // GEO calendar picker
	flatpickr("#georgianDate", {
		dateFormat: "Y-m-d",
		locale: {
			firstDayOfWeek: 1, // Monday
			weekdays: {
				shorthand: ["კვ", "ორ", "სმ", "ოთ", "ხთ", "პა", "შა"],
				longhand: ["კვირა", "ორშაბათი", "სამშაბათი", "ოთხშაბათი", "ხუთშაბათი", "პარასკევი", "შაბათი"]
			},
			months: {
				shorthand: ["იან", "თებ", "მარ", "აპრ", "მაი", "ივნ", "ივლ", "აგვ", "სექ", "ოქტ", "ნოე", "დეკ"],
				longhand: ["იანვარი", "თებერვალი", "მარტი", "აპრილი", "მაისი", "ივნისი", "ივლისი", "აგვისტო", "სექტემბერი", "ოქტომბერი", "ნოემბერი", "დეკემბერი"]
			},
		},
	});
</script>
{% endblock %}