{% extends 'base/main.html' %}
{% load i18n %}
{% load static %}

{% block content %}

    {% if classrooms %}
        <!-- Classrooms Should be displayed -->
        აირჩიეთ კლასი>
        <ul>
            {% for classroom in classrooms %}
                <li><a href="{% url 'app_teacher:choose-lesson'  topic_uuid=topic_uuid %}?classroom={{classroom.uuid}}">{{ classroom.name }}</a></li>        
            {% endfor %}
        </ul>
    {% endif %}

    {% if lessons %}
        <!-- Classrooms Should be displayed -->
        აირჩიეთ გაკვეთილი>
        <ul>
            {% for lesson in lessons %}
                <li><a href="{% url 'app_teacher:choose-lesson'  topic_uuid=topic_uuid %}?classroom={{classroom_uuid}}&lesson={{lesson.uuid}}">{{ lesson.name }}</a></li>        
            {% endfor %}
        </ul>
    {% endif %}
    

{% endblock %}