{% extends 'base/main.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="container-fluid py-4">
	<div class="card mb-4">
		<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
			<div
				class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
			>
				<h6 class="text-white text-capitalize ps-3">
                    {{ topic.name }}
				</h6>
			</div>
		</div>
        
		<div class="card-body pt-4 p-3">
            {% if lesson %}
				<a href="{% url 'app_teacher:choose-lesson' topic_uuid=topic.uuid %}?classroom={{lesson.classroom.uuid}}&lesson={{lesson.uuid}}">
					<div class="btn btn-outline-primary shadow-primary">
						ამოცანების დამატება გაკვეთილში: {{ lesson.name }}
					</div>
				</a>
				{% else %}
				<a href="{% url 'app_teacher:choose-lesson' topic_uuid=topic.uuid %}">
					<div class="btn btn-outline-primary shadow-primary">
						დააჭირეთ იმ აქ გაკვეთილის ასარჩევად სადაც გსურთ დაამატოთ აღნიშნული სავარჯიშოები
					</div>
				</a>
				
				{% endif %}
            
			<ol class="list-group">
				{% for question in questions %}
				<li
					class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg"
				>
					<div class="col">
						<div class="mb-3 d-flex">
							<div class="mt-2" style="margin-right: 5px;">
							</div>
							<p> {{ question.text }} </p>
						</div>

						{% for choice in question.questionchoice_set.all %}
                            <div class="form-check {% if choice.is_correct %} correct-answer {% endif %}">
                                <label class="custom-control-label" for="customRadio1" style="margin-top: 0.5rem;">
                                    {{ choice.text }}
                                </label>
							</div>
						{% endfor %}
					</div>
				</li>
				{% endfor %}
			</ol>
		</div>
    </div>
</div>


<style>
    .correct-answer {
        background: #c8f4c8;
        border: 1px solid #5cbc6e;
        border-radius: 10px;
    }

    .correct-answer * {
        color: darkgreen;
        font-weight: bold;
    }
</style>
{% endblock %}