{% extends 'base/main.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="card">
	<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
		<div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
			<h6 class="text-white text-capitalize ps-3">
                <span style="opacity:0.5;">
                    <a href="{% url 'app_teacher:classrooms' %}" class="text-white">
                        კლასები
                    </a> / 
                    <a href="{% url 'app_teacher:classroom-detail' uuid=test.lesson.classroom.uuid %}" class="text-white">
                        {{ test.lesson.classroom.name }}
                    </a> /
                    <a href="{% url 'app_teacher:lesson-detail' uuid=test.lesson.uuid %}" class="text-white">
                        {{ test.lesson.name }}
                    </a> /
                </span>
                {{ test.name }}</h6>
		</div>
	</div>

    <div style="width: 40%; margin: auto;">
        <canvas id="distribution_points"></canvas>
    </div>
    

	<div class="card-body px-0 pb-2">
		<div class="table-responsive">
			<table class="table align-items-center mb-0">
				<thead>
					<tr>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
						>
							სახელი
						</th>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
						>
							გვარი
						</th>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
						>
							ქულა
						</th>
					</tr>
				</thead>
				<tbody>
					{% for student in students %}
                        <tr>
                            <td>
                                <div class="d-flex px-2 py-1">
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">{{student.user.name}}</h6>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm">{{student.user.surname}}</h6>
                                </div>
                            </td>
                            {% if student.completed %}
                                <td>
                                    <div class="d-flex flex-column justify-content-center">
                                        {{student.student_points}} / {{student.max_points}}
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex flex-column justify-content-center">
                                        <a class="btn btn-outline-info px-3 mb-0" href="{% url 'app_teacher:test-results-student' test_uuid=test.uuid student_uuid=student.uuid %}">ტესტის ნახვა</a>
                                    </div>
                                </td>
                            {% else %}
                            <td>
                                <div class="d-flex flex-column justify-content-center">
                                    -
                                </div>
                            </td>
                            <td>
                                <div class="d-flex flex-column justify-content-center">
                                    არ აქვს დაწერილი    
                                </div>
                            </td>
                            {% endif %}    
                        </tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    var numbers = {{ student_points|safe }};
    var labels = {{ student_points_label|safe }};

    document.addEventListener('DOMContentLoaded', function() {
        var ctx = document.getElementById('distribution_points').getContext('2d');
        
        // Creating labels for each number (optional)

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'ქულების განაწილება',
                    data: numbers,
                    backgroundColor: 'rgba(0, 123, 255, 0.5)',
                    borderColor: 'rgba(0, 123, 255, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
            }
        });
    });
</script>

{% endblock %}