{% extends 'base/main.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<a href="{% url 'app_teacher:classrooms' %}" style="background-color: aquamarine;">კლასების სია</a>

<h3>მასწავლებელი - კლასის დეტალები</h3>

<br>

<table class="list_table">
    <tr>
        <th>კლასის სახელი</th>
        <td>{{ classroom.name }}</td>
    </tr>
    <tr>
        <th>საგანი</th>
        <td>{{ classroom.subject }}</td>
    </tr>
    <tr>
        <th>აღწერა</th>
        <td>{{ classroom.description }}</td>
    </tr>
    <tr>
        <th>შეხვედრის ლინკი</th>
        <th>{{ classroom.online_meeting_link }}</th>
    </tr>
    <tr>
        <th>მოწვევის ლინკი</th>
        <td>
            <input type="text" value="{{ domain }}{% url 'app_student:subscribe-classroom' classroom_uuid=classroom.uuid %}" id="classroom-link">
        </td>
    </tr>
    {% comment %}
    <tr collspan="2">
        <td>
            <a href="{% url 'app_teacher:classroom-archive' uuid=classroom.uuid %}">ამოაარქივება</a>
        </td>
    </tr>
    {% endcomment %}
    <td colspan="2" style="background-color: red;">
        <a href="{% url 'app_teacher:classroom-delete' uuid=classroom.uuid %}" style="color: black;" onclick="return confirmDelete();">წაშლა</a>
    </td>
</table>

<br>

<table class="list_table">
    <tr collspan="2">
        <th>მოსწავლეები</th>
    </tr>
    <tr>
        <th>სახელი</th>
        <th>გვარი</th>
        <th>საშუალო ქულა</th>
    </tr>
    {% for student_to_classroom in student_to_classrooms %}
        <tr>
            <td>{{ student_to_classroom.student.name }}</td>
            <td>{{ student_to_classroom.student.surname }}</td>
            <td>TODO</td>
        </tr>
    {% endfor %}
</table>


<br>

<div style="width: fit-content; background-color: aquamarine;">
    <a href="{% url 'app_teacher:create-new-lesson' classroom_uuid=classroom.uuid %}">ახალი გაკვეთილის შექმნა</a>
</div>

<br>

<table style="width:100%" class="list_table" id="list_table">
    <tr>
        <th colspan="4">
            გაკვეთილები
        </th>
    </tr>
    <tr>
        <th>გაკვეთილის სახელი</th>
        <th>თარიღი და საათი</th>
        <th>აღწერა</th>
        <th>წაშლა</th>
    </tr>
    {% for lesson in lessons %}
        <tr>
            <td style="background-color: aqua;">
                <a href="{% url 'app_teacher:lesson-detail' uuid=lesson.uuid %}">
                    {{ lesson.name }}
                </a>
            </td>
            <td>{{ lesson.lesson_date }} {{ lesson.lesson_start_time }}</td>
            <td>{{ lesson.description }}</td>
            <td><a href="{% url 'app_teacher:lesson-delete' uuid=lesson.uuid %}">წაშლა</a></td>
        </tr>
    {% endfor %}
</table>

<br>

<table style="width:100%" class="list_table" id="list_table">
    <tr>
        <th colspan="4">
            საუკეთესო მოსწავლეები
        </th>
    </tr>
</table>

{% endblock %}