{% extends 'base/main.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<style>
    /* Add some basic styling for better presentation */
    table {
        border-collapse: collapse;
        width: 300px;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<a href="{% url 'app_teacher:home' %}">მთავარ გვერდზე დაბრუნება</a>

<h3>მასწავლებელი - კლასის დეტალები</h3>

<br>

<table>
    <tr>
        <th>კლასის სახელი</th>
        <td>{{ classroom.name }}</td>
    </tr>
    <tr>
        <th>საგანი</th>
        <td>{{ classroom.subject }}</td>
    </tr>
    <tr>
        <th>აღწერა</th>
        <td>{{ classroom.description }}</td>
    </tr>
</table>


<br>

<div style="width: fit-content; background-color: aquamarine;">
    <a href="{% url 'app_teacher:create-new-lesson' classroom_uuid=classroom.uuid %}">ახალი გაკვეთილის შექმნა</a>
</div>

<br>

<table style="width:100%" class="list_table" id="list_table">
    <tr>
        <th colspan="4">
            გაკვეთილები
        </th>
    </tr>
    <tr>
        <th>საკლასო ოთახი</th>
        <th>სახელი</th>
        <th>აღწერა</th>
        <th>წაშლა</th>
    </tr>
    {% for lesson in lessons %}
        <tr>
            <td>{{ lesson.classroom.name }}</td>
            <td>{{ lesson.name }}</td>
            <td>{{ lesson.description }}</td>
            <td><a href="{% url 'app_teacher:lesson-delete' uuid=lesson.uuid %}">წაშლა</a></td>
        </tr>
    {% endfor %}
</table>


{% endblock %}