{% extends 'base/main.html' %} {% load i18n %} {% load static %} {% block content %}

<div class="card">
	{% comment %} <div class="card-header pb-0 p-3">
		<div class="row">
			<div class="col-6 d-flex align-items-center">
				<h6 class="mb-0">კლასები</h6>
			</div>
			<div class="col-6 text-end">
				<a class="btn bg-gradient-warning mb-0" href="{% url 'app_teacher:create-new-classroom' %}"
					><i class="material-icons text-sm">add</i>&nbsp;&nbsp;ახალი საკლასო ოთახი</a
				>
			</div>
		</div>
	</div> {% endcomment %}
	<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
		<div class="bg-gradient-warning shadow-warning border-radius-lg pt-4 pb-3">
			<h6 class="text-white text-capitalize ps-3">კლასები</h6>
		</div>
	</div>
	<div class="col-6" style="margin-top: 20px; margin-left: 20px;">
		<a class="btn bg-gradient-success mb-0" href="{% url 'app_teacher:create-new-classroom' %}"
			><i class="material-icons text-sm">add</i>&nbsp;&nbsp;ახალი საკლასო ოთახი</a
		>
	</div>
	<div class="card-body pt-4 p-3">
		<ul class="list-group">
            {% for classroom in classrooms %} {% if classroom.is_archived == False %}
            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg"
				onclick='location.href="{% url 'app_teacher:classroom-detail' uuid=classroom.uuid %}";' style="cursor: pointer;"
				onmouseenter='this.classList.add("bg-gray-200")'
				onmouseleave='this.classList.remove("bg-gray-200")'
			>
				<div class="d-flex flex-column">
					<h6 class="mb-3 text-sm"><a href="{% url 'app_teacher:classroom-detail' uuid=classroom.uuid %}"
                        >{{ classroom.name }}</a
                    ></h6>
					<span class="mb-2 text-xs"
						>საგანი:
						<span class="text-dark font-weight-bold ms-sm-2"
							>{{ classroom.subject }}</span
						></span
					>
					<span class="mb-2 text-xs"
						>საფეხური:
						<span class="text-dark ms-sm-2 font-weight-bold"
							>{% for classroom_to_levels in classroom.classroomtolevels_set.all %}
                            {{ classroom_to_levels.level.level }}
                        {% endfor %} </span
						></span
					>
                    <span class="mb-2 text-xs"
						>მოსწავლეების რაოდენობა:
						<span class="text-dark ms-sm-2 font-weight-bold"
							>{{ classroom.num_students }}</span
						></span
					>
                    <span class="mb-2 text-xs"
						>რანგი:
						<span class="text-dark ms-sm-2 font-weight-bold"
							>{{ classroom.rank }}%</span
						></span
					>
					<span class="text-xs"
						>შემდეგი გაკვეთილი:
						<span class="text-dark ms-sm-2 font-weight-bold"
							>
                            {% if classroom.closest_lesson_name %}
                            {{ classroom.closest_lesson_name }} ({{ classroom.closest_lesson_date }}; {{ classroom.closest_lesson_start_time }})
                            {% else %}
                                გაკვეთილები არ არის დაგეგმილი
                            {% endif %}
                            </span
						></span
					>
				</div>
				{% comment %} <div class="ms-auto text-end">
					<a class="btn btn-info px-3 mb-0" href="{% url 'app_teacher:create-new-lesson' classroom_uuid=classroom.uuid %}"
						><i class="material-icons text-sm me-2">add</i>ახალი გაკვეთილი</a
					>
				</div> {% endcomment %}
			</li>
            {% endif %} {% endfor %}



		</ul>
	</div>
</div>


{% endblock %}



{% block js-foot %}

<script>
    var nav_page = document.getElementById("nav-classes");
    nav_page.classList.add("active");
    nav_page.classList.add("bg-gradient-warning");
</script>

{% endblock %}