{% extends 'base/main.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="row">

    <div class="col-sm">
    
        <div class="card">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-info shadow-warning border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">შემდეგი გაკვეთილები</h6>
                </div>
            </div>
            <div class="card-body pt-4 p-3">
                <ul class="list-group">
                    {% for closest_lesson in closest_lessons %}
                    <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg"
                        onclick='location.href="{% url 'app_teacher:lesson-detail' uuid=closest_lesson.uuid %}";' style="cursor: pointer;"
                        onmouseenter='this.classList.add("bg-gray-200")'
                        onmouseleave='this.classList.remove("bg-gray-200")'
                    >
                        <div class="d-flex flex-column">
                            <h6 class="mb-3 text-sm">თემა:
                                {{ closest_lesson.name }}
                            </h6>
                            <span class="mb-2 text-xs"
                                >საგანი:
                                <span class="text-dark font-weight-bold ms-sm-2"
                                    >{{ closest_lesson.classroom.subject }}</span
                                ></span
                            >
                            <span class="mb-2 text-xs"
                                >კლასი:
                                <span class="text-dark font-weight-bold ms-sm-2"
                                    >{{ closest_lesson.classroom.name }}</span
                                ></span
                            >
                            <span class="mb-2 text-xs"
                                >თარიღი:
                                <span class="text-dark font-weight-bold ms-sm-2"
                                    >{{ closest_lesson.lesson_date }} {{ closest_lesson.lesson_start_time }}</span
                                ></span
                            >
                        </div>
                    </li>
                    {% endfor %}
        
                </ul>
            </div>
        </div>
    
    </div>


<div class="col-sm">

<div class="card">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
		<div class="bg-gradient-warning shadow-warning border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">კლასები</h6>
		</div>
	</div>
	<div class="card-body pt-4 p-3">
		<ul class="list-group">
            {% for classroom in classrooms %} {% if classroom.is_archived == False %}
            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg"
				onclick='location.href="{% url 'app_teacher:classroom-detail' uuid=classroom.uuid %}";' style="cursor: pointer;"
				onmouseenter='this.classList.add("bg-gray-200")'
				onmouseleave='this.classList.remove("bg-gray-200")'
			>
				<div class="d-flex flex-column">
					<h6 class="mb-3 text-sm">
                        {{ classroom.name }}
                    </h6>
					<span class="mb-2 text-xs"
						>საგანი:
						<span class="text-dark font-weight-bold ms-sm-2"
							>{{ classroom.subject }}</span
						></span
					>
					<span class="mb-2 text-xs"
						>საფეხური:
						<span class="text-dark ms-sm-2 font-weight-bold"
							>{% for classroom_to_levels in classroom.classroomtolevels_set.all %}
                            {{ classroom_to_levels.level.level }}
                        {% endfor %} </span
						></span
					>
                    <span class="mb-2 text-xs"
						>მოსწავლეების რაოდენობა:
						<span class="text-dark ms-sm-2 font-weight-bold"
							>{{ classroom.num_students }}</span
						></span
					>
                    <span class="mb-2 text-xs"
						>რანგი:
						<span class="text-dark ms-sm-2 font-weight-bold"
							>{{ classroom.rank }}%</span
						></span
					>
					<span class="text-xs"
						>შემდეგი გაკვეთილი:
						<span class="text-dark ms-sm-2 font-weight-bold"
							>
                            {% if classroom.closest_lesson_name %}
                            {{ classroom.closest_lesson_name }} ({{ classroom.closest_lesson_date }}; {{ classroom.closest_lesson_start_time }})
                            {% else %}
                                გაკვეთილები არ არის დაგეგმილი
                            {% endif %}
                            </span
						></span
					>
				</div>
				<div class="ms-auto text-end">
					<a class="btn btn-info px-3 mb-0" href="{% url 'app_teacher:create-new-lesson' classroom_uuid=classroom.uuid %}"
						><i class="material-icons text-sm me-2">add</i>ახალი გაკვეთილი</a
					>
				</div>
			</li>
            {% endif %} {% endfor %}

		</ul>
	</div>
</div>

</div>

</div>


{% endblock %}





{% block js-foot %}

<script>
    var nav_page = document.getElementById("nav-main");
    nav_page.classList.add("active");
    nav_page.classList.add("bg-gradient-secondary");
</script>

{% endblock %}