{% extends 'base/main.html' %} {% load i18n %} {% load static %} {% block content %}

<div class="card">
	<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
		<div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
			<h6 class="text-white text-capitalize ps-3">სავარჯიშოები</h6>
		</div>
	</div>
	<form method="get" action="{% url 'app_teacher:test-main' %}" class="mt-3 mx-auto">
		<input type="text" style="margin: auto;" name="subject_filter" placeholder="საგანი" value="{{ request.GET.subject_filter }}">
		<input type="text" style="margin: auto;" name="topic_filter" placeholder="საკითხი" value="{{ request.GET.topic_filter }}">
		<input type="hidden" style="margin: auto;" name="classroom" placeholder="საკითხი" value="{{lesson.classroom.uuid}}">
		<input type="hidden" style="margin: auto;" name="lesson" placeholder="საკითხი" value="{{lesson.uuid}}">
		<input type="submit" style="margin: auto;" class="btn bg-gradient-primary" value="გაფილტრვა">
	</form>
	<div class="card-body px-0 pb-2">
		<div class="table-responsive">
			<table class="table align-items-center mb-0">
				<thead>
					<tr>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
						>
							საგანი
						</th>
						<th
							class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
						>
							საკითხი
						</th>
						<th
							class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
						>
							სავარჯიშოების რაოდენობა
						</th>
					</tr>
				</thead>
				<tbody>
					{% for topic in topics %}
					<tr>
						<td>
							<div class="d-flex px-2 py-1">
								<div class="d-flex flex-column justify-content-center">
									<h6 class="mb-0 text-sm">{{ topic.subject }}</h6>
								</div>
							</div>
						</td>
						<td>
							<div class="d-flex flex-column justify-content-center">
								<a
									href="{% url 'app_teacher:test-example-page' uuid=topic.uuid %}?lesson={{lesson.uuid}}"
								>
									{{ topic.name }}
								</a>
							</div>
						</td>
						<td class="align-middle text-center text-sm">
							<span class="text-xs font-weight-bold">
								{{ topic.n_questions }}
							</span>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}


{% block js-foot %}

<script>
    var nav_page = document.getElementById("nav-exercises");
    nav_page.classList.add("active");
    nav_page.classList.add("bg-gradient-primary");
</script>

{% endblock %}